<!-- installation --> 
<section id="library" class="section library">

	<div class="container content">

		<div class="row">

			<div class="col-lg-9">

				<% blog('library').articles.sort_by(&:title).each do |library| %>
				<div id="<%= library.data.link %>" class="project">

					<div class="project-header">
 
						<div class="row">

							<div class="col-sm-4">

								<div class="project-github">
									<a href="<%= library.data.homepage %>" target="_blank"><%= library.data.author %></a>
								</div>

								<div class="project-name"><h3><%= library.data.project %></h3></div>

							</div>

							<div class="col-sm-8 text-justify">

								<div class="version-dropdown-wrapper">

									<div class="version-dropdown btn-group">

										<% if library.data.versions.count > 1 %>

										<span class="dropdown-toggle version-dropdown-selected-version" data-toggle="dropdown">
											<% library.data.versions.each_with_index do |item, index| %>
                                            <% if index == 0 %>
                                            <a class="ver"><%= item.ver %> <i class="fa fa-chevron-down"></i></a>
										</span>
	
										<ul class="dropdown-menu">
											<% end %>
                                            <li><a href="#<%= library.data.link %>-<%= index %>" data-toggle="tab"><%= item.ver %></a></li>
                                            <% end %>
										</ul>

										<% else %>
							
										<span class="dropdown-toggle version-dropdown-selected-version">
											<% library.data.versions.each_with_index do |item, index| %>
                                            <a><%= item.ver %></a>
                                            <% end %>
										</span>
										
										<% end %>

									</div>

								</div>

								<%= library.summary %>

							</div>
						</div>
					</div>

					<div class="tab-content">

						<% library.data.versions.each_with_index do |version, index| %>
                        <% if index == 0 %>
						<div role="tabpanel" id="<%= library.data.link %>-<%= index %>" class="tab-pane fade in active">
						<% else %>
						<div role="tabpanel" id="<%= library.data.link %>-<%= index %>" class="tab-pane fade in">
						<% end %>
							<% version.files.each do |item| %>
                            <span class="project-file"><%= item %></span>
                            <% end %>
						</div>
						<% end %>

					</div>

				</div>
				<% end %>

			</div>

			<div id="sidebar-location" class="col-lg-3">

				<div id="sidebar" data-spy="affix">

				<% blog('library').articles.sort_by(&:title).each do |library| %>
				<a href="#<%= library.data.link %>" class="badger scrollto"><span class="name"><%= library.data.project %></span><% library.data.versions.sort_by(&:link).each_with_index do |k, v|%><% if v == 0 %><span class="ver"><%= k.ver %></span><% end %><% end %></a>
				<% end %>

				</div>

			</div>

		</div>

	</div><!--//container-->

</section>


